.headerContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding-left: 64px;
  padding-right: 64px;
  width: 100%;
  height: 84px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background-color: var(--light-grey);

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBox {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: 20px;
}

.logo {
  color: var(--blue);
  font-size: 20px;
  font-weight: 800;
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.navLink {
  color: var(--blue);
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

.navLink:global.active {
  border-bottom: 1px solid var(--red);
  color: var(--red);
}

.navLink:hover {
  color: var(--red);
}
